<footer class="page-footer font-small mdb-color pt-4 mt-4">
  <div class="container text-center text-md-center">
    <div id="row-foot" class="row">
      <div class="col-md-4 mx-auto">
        <hr class="clearfix w-100 clearfix d-md-none"/>
        <h6 class="text-uppercase mb-4 font-weight-bold">LookAtNews</h6>
        <hr class="clearfix w-100 clearfix d-md-none"/>
        <p>LookAtNews is a company created since 2018 and every information around the world is our work for your knowledge</p><img id="bottom-logo" src="imgs/looknews.png"/>
      </div>
      <div class="col-md-4 mx-auto">
        <hr class="clearfix w-100 clearfix d-md-none"/>
        <h6 class="text-uppercase mb-4 font-weight-bold">Politics</h6>
        <hr class="clearfix w-100 clearfix d-md-none"/>
        <p><a href="#">Terms and conditions</a></p>
        <p><a href="#">Privacity</a></p>
      </div>
      <div class="col-md-4 mx-auto">
        <hr class="clearfix w-100 clearfix d-md-none"/>
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <hr class="clearfix w-100 clearfix d-md-none"/>
        <p><i class="fa fa-home mr-3"></i> Libramiento San Ignacio 230, Col. José Revueltas</p>
        <p><i class="fa fa-envelope mr-3"></i> corplookatnews@gmail.com</p>
        <p><i class="fa fa-phone mr-3"></i> + 52 618 192 5403</p>
        <p><i class="fa fa-print mr-3"></i> + 52 618 192 5403</p>
      </div>
    </div>
    <hr/>
    <div class="row d-flex align-items-center">
      <div class="col-md-12 col-lg-12">
        <p id="foot-title" class="text-center text-md-center">© 2018 Copyright: LookAtNews<a href="/"><strong> LookAtNews.com</strong></a></p>
      </div>
    </div>
  </div>
</footer>
