<!DOCTYPE html>
<html lang="en">
<head>
    <title>LookAtNews | Add Notice</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index_css.css">
    <link rel="stylesheet" href="css/footer_css.css">
    <link rel="stylesheet" href="css/header_css.css">
    <link rel="stylesheet" href="css/aboutus_css.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<% include _header%>
    <div class="jumbotron text-center">
        <a href="/"><img id="logo-about" src="imgs/looknews.png"></a>
        <p id="sub-top">Find your news</p> 
    </div>
    <div id="about" class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>About <img src="imgs/looknews.png" id="logo-tip"></h2><br>
                <h4 id="content-pe">History of the company and how it started:</h4><br>
                <p id="sub-content">It was founded in 2018 by a school project in order to demonstrate the development of a website and its behavior between the client and server which proved to be something simpler than that, today lookatnews begins little by little to become one of the largest web news companies in the world and show our values ​​and data to anyone in our platform.</p>
            </div>
            <div class="col-sm-4">
                <h2 id="title-founder">Our founder</h2>
                <img src="imgs/Cv_me.jpg" id="master">
                <p id="subti">Diego Aragón Duarte founder of LookAtNew Enterprise</p>
            </div>
        </div>
    </div>
<% include _footer%>
</body>