<div class="bs-example">
  <div id="myCarousel" data-ride="carousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div id="act" class="item active">
        <img src="imgs/trump.jpg" alt="First Slide"/>
        <div class="carousel-caption" id="content-desc">
          <h1 id="title-card">Trump supporters turn out in London a day after protests</h1>
          <p id="sub-title">Thousands of Trump supporters and right-wing activists took to the nation’s capital on Saturday — a day after anti-Trump protesters had dominated the city.</p>
        </div>
      </div>
      <div id="act" class="item">
        <img src="imgs/kim.jpg" alt="Second Slide"/>
        <div class="carousel-caption" id="content-desc">
          <h1 id="title-card">North Korea rejecting US proposals in diplomatic standoff</h1>
          <p id="sub-title">The US has made repeated proposals to North Korea on denuclearization, all of which have been rejected, according to senior diplomatic sources</p>
        </div>
      </div>
      <div id="act" class="item">
        <img src="imgs/float.jpg" alt="Third Slide"/>
        <div class="carousel-caption" id="content-desc">
          <h1 id="title-card">Floods and flooding in Iztapalapa</h1>
          <p id="sub-title">Different points of the Iztapalapa delegation were affected by the rain that occurred in the area.</p>
        </div>
      </div>
    </div>
    <a href="#myCarousel" data-slide="prev" class="carousel-control left"><span class="glyphicon glyphicon-chevron-left"></span></a><a href="#myCarousel" data-slide="next" class="carousel-control right"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>